<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hotel Reservations | Date and City</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
	<nav class="navbar navbar-dark bg-dark" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/hotelReservation">Hotel Reservations</a>
			</div>
			<div>
				<span class="navbar-text">
				Welcome, <span th:text="${customerInfo.firstName}"></span> <span th:text="${customerInfo.lastName}"></span>!
				</span>
			</div>
		</div>
	</nav>
</div>
<div class="container">
	<h3>Please select your check-in and check-out dates</h3>
	<form action="#" th:action="@{/hotelReservation/listHotels}" method="post">
		<input type="hidden" name="customerID" th:value="${customerInfo.customerID}">
		<div class="form-group">
			<label for="checkIn">Check In</label>
			<input class="form-control" type="date" id="checkIn" name="checkIn" th:value="${dateNow}" th:attr="min=${dateNow}" max="2025-12-31">
		</div>
		<div class="form-group">
			<label for="checkOut">Check Out</label>
			<input class="form-control" type="date" id="checkOut" name="checkOut" th:value="${dateTomorrow}" th:attr="min=${dateTomorrow}" max="2025-12-31">
		</div>
		<div class="form-group">
			<label for="inputGroupSelect01">City</label>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputGroupSelect01">Select city</label>
				</div>
				<select class="custom-select" id="inputGroupSelect01" name="city">
					<option selected>Choose...</option>
					<option value="Honolulu">Honolulu</option>
					<option value="Monterey">Monterey</option>
					<option value="San Diego">San Diego</option>
				</select>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

</body>
</html>

<!--  <input type="hidden" name="customerInfo" th:value="${customerInfo}"> -->